body {
    background-color: #f0f0f0;
    padding-top: 10px; /* Reduced padding */
}
.container {
    max-width: 1200px;
    background-color: #ffffff;
    padding: 15px; /* Reduced padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-container {
    display: flex;
    flex-direction: column;
    height: 550px; /* Reduced height */
}
.chat-box {
    background-color: #e9ecef;
    padding: 15px; /* Adjust padding as needed */
    border-radius: 10px;
    height: 100%; /* Ensure the chat box fills the height */
}
.chat-message {
    margin-bottom: 8px; /* Reduced margin */
    padding: 8px; /* Reduced padding */
    border-radius: 10px;
}
.outgoing-message {
    background-color: #d1ecf1;
    align-self: flex-end;
}
.incoming-message {
    background-color: #ffffff;
    border: 1px solid #ced4da;
}
.message-input {
    display: flex;
    margin-top: 8px; /* Reduced margin */
}
.message-input input {
    flex-grow: 1;
    border-radius: 10px 0 0 10px;
}
.message-input button {
    border-radius: 0 10px 10px 0;
}
.welcome-header {
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: white;
    padding: 15px; /* Reduced padding */
    border-radius: 10px;
    text-align: center;
}
.welcome-header h1 {
    margin: 0;
}
.chatroom-list-scrollable {
    max-height: 400px; /* Adjust height as per your design */
    overflow-y: auto;
}

.chatroom-list-scrollable .list-group {
    margin-bottom: 10px; /* Adjust margin as needed */
}

